## Build generated
DerivedData/
dist/

## npm modules
node_modules/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## OS
.DS_Store

## Visual Studio
Source/build/.vs
Source/build/Debug
Source/build/Release
Source/build/*.opendb
Source/build/*.db
Source/build/x64
Source/build/Win32
Source/build/*.user
bin/Electron/resources/app
bin/Electron.app/Contents/Resources/app
